@font-face {
  font-family: Zilla;
  src: url("../assets/fonts/ZillaSlab-Regular.ttf") format("truetype");
}

html body {
  font-family: Zilla;
  // box-shadow: none;
}

.ctn {
  margin-top: 20px;
}

@import '~bootstrap';
@import '~bootstrap-vue';